* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

:root {
  --alpha: 0.9;
  --g-background-color: rgba(31 31 31 / var(--alpha));
  --g-title-background-color: rgba(17 17 17 / var(--alpha));
  --g-widget-color: rgba(66 66 66 / var(--alpha));
  --g-hover-color: rgba(79 79 79 / var(--alpha));
  --g-focus-color: rgba(89 89 89 / var(--alpha));
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.lil-gui {
  --background-color: var(--g-background-color);
  --title-background-color: var(--g-title-background-color);
  --widget-color: var(--g-widget-color);
  --hover-color: var(--g-hover-color);
  --focus-color: var(--g-focus-color);
  --padding: 8px;
  --spacing: 8px;
}

#fpsmeter-box {
  background-color: var(--g-background-color);
}
